01-intro/.ipynb_checkpoints
elasticsearch_data/*
01-intro/__pycache__
.env
01-agentic-rag/code/faq*
01-agentic-rag/code/.ipynb_checkpoints
01-agentic-rag/code/toyaikit_adaptation/__pycache__
01-agentic-rag/code/__pycache__
02-vector-search/.ipynb_checkpoints
02-vector-search/faq_vectors*
02-vector-search/__p
02-vector-search/homework/models/*
03-orchestration/.env
04-evaluation/code/.ipynb_checkpoints/
02-vector-search/homework/.env
04-evaluation/code/models
05-monitoring/code/.env
.claude/
.agents/
05-monitoring/code/__pycache__
05-monitoring/code/homework/__pycache__
05-monitoring/code/.venv
05-monitoring/code/homework/traces.db
